.main{
    background-color: #EDEFF2;
    width: 240px;
}
.profile-name{
    color: #6B7A99;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.mail{
    color: #ADB8CC;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.icon{
    font-size: 35px;
    
    padding-left: 33px;
    padding-top: 30px;

}
.icon-name{
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
}
.grid-box{
    color:#C3CAD9;
    width: 110px;
    height: 130px;
    flex-shrink: 0;
    padding: 5px;
    border: 2px solid #ADB8CC
}


.grid{
    margin: auto;
}



.grid-box:hover{
    position: relative;
    background-color: white;
    border: none;
    width: 115px;
    transition: all;
    height: 135px;
    border-radius: 20px;
    color: blue;
    cursor: pointer;
}



#top-left-box{
    border-radius: 15px 0px 0px 0px;
    border: 2px solid #ADB8CC
}
#top-left-box:hover{
    border: none;
    color: blue;
    width: 115px;
    transition: all;
    height: 135px;
    border-radius: 15%;
}

#top-right-box:hover{
    border: none;
    color: blue;
    width: 115px;
    transition: all;
    height: 135px;
    border-radius: 15%;
}
#bottom-left-box:hover{
    border: none;
    color: blue;
    width: 115px;
    transition: all;
    height: 135px;
    border-radius: 15%;
}
#bottom-right-box:hover{
    border: none;
    color: blue;
    width: 115px;
    transition: all;
    height: 135px;
    border-radius: 15%;
}

#top-right-box{
    border-radius: 0px 15px 0px 0px;
    border: 2px solid #ADB8CC
}

#bottom-right-box{
    border-radius: 0px 0px 15px 0px;
    border: 2px solid #ADB8CC
}
#bottom-left-box{
    border-radius: 0px 0px 0px 15px;
    border: 2px solid #ADB8CC
}

.bottom-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #ADB8CC;
    width: 220px;
    height: 50px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 40px;
}

@media (max-width:768px){
    .main{
        width: 100%;
    }
    
}